{%  extends 'base.html' %}

<html>
<head>
    <title> Home Page </title>
</head>
<body>
{% block content %}
    <style>
    h2{
        font-family: Cambria;
        font-style: oblique;
        font-weight: bold;
    }
    </style>
    <h2 style="text-align: left; color: blue">About Organisation :</h2>
    <p>############################### ###########################################<br>
    ##########################################################################<br>
    ##########################################################################<br></p>
    <h2 style="text-align: left; color: blue">About Founder : </h2>
    <p>%%%%%%%%%%%%%%%%%%%%%%%%% %%%%%%%%%%%%%%%%%%%%%%%%%%<br>
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<br>
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<br></p>
{% endblock %}
</body>
</html>